@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body, html {
	font-size: 100%;
	padding: 0;
	margin: 0;
	height: 100%;
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    color: #f2ede3;
    background: #34495e;
    font-size: 0.9em;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}
a {
	color: #f0f0f0;
	text-decoration: none;
	font-weight: 700;
	letter-spacing: 2px;
	padding: 0 5px;
	text-transform: uppercase;
	font-size: 80%;
	display: block;
}

a:hover {
	color: #fff;
}


.bl-main {
	position: absolute;
	width: 100%;
	height: 100%;
	/*background-color: red;*/
}

.post{
	position: relative;
	top: 20px;
	left: 0;
	width: 70%;
	padding: 10px;
	/*background-color: green;*/
}


.post p:first-child {
	margin: 0 auto;
	font-size: 1.7em;
	font-weight: bold;
	line-height: 1.8;
	text-align: center;
}

.post p:not(:first-child) {
	margin: 0 auto;
	padding: 20px;
	font-size: 1.5em;
	line-height: 1.5;
}

.post a{
	text-align: center;
}


.disqus_thread{
	width: 70%;
}

.all_posts{
	position: absolute;
	top: 20px;
	left: 70%;
	width: 30%;
	padding: 10px;
	/*background-color: blue;*/
}

.all_posts p:first-child{
	text-align: center;
	margin: 0 auto;
	padding-bottom: 10px;
	font-size: 1.7em;
	line-height: 1.8em;
	text-align: center;
}

.all_posts a{
	width: 100%;
	background-color: #5D6D7E;
	font-size: 100%;
	margin-bottom: 20px;
	margin-right: 20px;
	padding: 5px;
	border-radius: 3px;
	line-height: 1.4em;
}

@media only screen and (max-width: 485px){
	.post{
		width: 100%;
		padding-right:0;
	}

	.all_posts{
		display: none;
	}

	.bl-main{
		margin: 0;
	}
}
