<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Portfolio</title>
		<meta name="description" content="Vipin Saroha Portfolio" />
		<meta name="keywords" content="fullscreen layout, boxes, responsive, page transitions, css transitions, jquery, portfolio, template"/>
		<meta name="author" content="Nitin" />
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}blog/css/component.css" />
		<script src="{{ STATIC_URL }}blog/js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container">
			<div id="bl-main" class="bl-main">
				<section>
					<div class="bl-box">
						<h2 class="bl-icon bl-icon-about">About</h2>
					</div>
					<div class="bl-content">

						<h2>VIPIN SAROHA</h2>
						<h3>Education</h3>
						<p><strong>Degree Candidate:</strong> Master of Public Administration Aug 2013- May 2015 (expected)<br/>The University of Georgia, Athens, GA<br/>
						</p>
						<p><strong>Degree Received:</strong> B.Tech in Information Technology Aug 2005- May 2009<br/>
						Guru Gobind Singh Indraprastha University, Delhi, India</p>
					</div>
					<span class="bl-icon bl-icon-close"></span>
				</section>
				<section id="bl-work-section">
					<div class="bl-box">
						<h2 class="bl-icon bl-icon-works">Work</h2>
					</div>
					<div class="bl-content">
						<h2>Work Experience</h2>
						<p>Yeah! Go on Click on any Image</p>
						<ul id="bl-work-items">
							<li data-panel="panel-1"><a href="#"><img src="{{ STATIC_URL }}blog/images/1.png" /></a></li>
							<li data-panel="panel-2"><a href="#"><img src="{{ STATIC_URL }}blog/images/2.png" /></a></li>
							<li data-panel="panel-3"><a href="#"><img src="{{ STATIC_URL }}blog/images/3.png" /></a></li>
							<li data-panel="panel-4"><a href="#"><img src="{{ STATIC_URL }}blog/images/4.png" /></a></li>
						</ul>
					</div>
					<span class="bl-icon bl-icon-close"></span>
				</section>
				<section>
					<div class="bl-box">
						<h2 class="bl-icon bl-icon-blog">Blog</h2>
					</div>
					<div class="bl-content">
						<h2>My Musings</h2>
                                                {% autoescape off %}
                                                {% for post in posts %}
                                                <article>
                                                <h3>{{ post.title }}</h3>
                                                <p>
                                                {% if post.is_small %}
                                                {{ post.body }}
                                               
                                                {% else %}
                                                
                                                {{ post.body|truncatewords:"50" }}
                                                <a href="{% url 'blog' post.pk %}">Read More</a>
                                               
                                                {% endif %}
                                                </p>
                                                </article>
                                                {% endfor %}
                                                {% endautoescape %}
                                                <div class="example">
                                                <p>All Blogs</p>
                                                {% for post in posts %}
                                                <p><a href="{% url 'blog' post.pk %}">{{ post.title }}</a></p>
                                                {% endfor %}
                                                </div>
					</div>
					<span class="bl-icon bl-icon-close"></span>
				</section>
				<section>
					<div class="bl-box">
						<h2 class="bl-icon bl-icon-contact">Contact</h2>
					</div>
					<div class="bl-content">
						<h2>Get in touch with me!!!</h2>
						<p>Just saying <b>Hi </b>?  I'd love to hear from you.</p>
						<p>You can also leave a message on my  <a href="mailto:vipinsaroha1@gmail.com" class="mail">Mail</a> or Connect with me Below !!</p>
						<div class="bl-social-icons">
							<a href="https://facebook.com/Vipin.Saroha15" class="facebook" target="_blank">Facebook</a>
							<a href="#" class="twitter" target="_blank">Twitter</a>
							<a href="#" class="linkedIn" target="_blank">LinkedIn</a>
							<a href="#" class="googleplus" target="_blank">Google+</a>
						</div>
					</div>
					<span class="bl-icon bl-icon-close"></span>
				</section>
				<!-- Panel items for the works -->
				<div class="bl-panel-items" id="bl-panel-work-items">
					<div data-panel="panel-1">
						<div>
							<img src="{{ STATIC_URL }}blog/images/1.png" />
							<h3>Carl Vinson Institute of Technology</h3>
							<h2>Graduate Research Assistant</h2>
							<p>	I research about various <strong>Business Analytics Tool </strong>available, giving recommendations regarding 	 implementation of new Business Intelligence tools.<br/></p>
							<p>I am also Understanding the current<strong> IT </strong>infrastructure and giving suggestions for improvements.</p>
							</p>
						</div>
					</div>
					<div data-panel="panel-2">
						<div>
							<img src="{{ STATIC_URL }}blog/images/2.png" />
							<h3>SAP Labs India Pvt. Ltd.</h3>
							<h2>Support Consultant</h2>
							<p> My responsibilites were <strong>Performance and Database Tuning </strong>of <strong>SAP</strong> Business Warehouse Systems </strong> and solving issues with Oracle and MSSQL server databases.<br/></p>
							<p>
							I also did <strong>Training and Mentoring </strong>of colleagues for service delivery in China Center of Excellence and of new hires for my team in India.</p>
						</div>
					</div>
					<div data-panel="panel-3">
						<div>
							<img src="{{ STATIC_URL }}blog/images/3.png" />
							<h3>Adrash Janta Senior Secondary School</h3>
							<h2>Teacher</h2>
							<p>Taught <strong>Mathematics and Science</strong> to students of classes 7th and 8th (ages 12 to 14 years-old).</p>
							<p>Performed <strong>Career Counselling </strong> for the students of 9th and 10th (ages 14 to 16 years-old)</p>
							<p>Responsible for <strong>Organizing and Managing </strong> the excursions for the students of my class.</p>
						</div>
					</div>
					<div data-panel="panel-4">
						<div>
							<img src="{{ STATIC_URL }}blog/images/4.png" />
							<h3>PCS Technologies Ltd.</h3>
							<h2>Network Security Intern</h2>
							<p>Responsible for <strong>Cyber Security</strong> and making sure that the network was secure at all times. </p>
							<p>Acted on complaints of unauthorized access and ensured that policies were adhered to.</p>
						</div>
					</div>
					<nav>
						<span class="bl-next-work">&gt; Next Work</span>
						<span class="bl-icon bl-icon-close"></span>
					</nav>
				</div>
			</div>
		</div><!-- /container -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="{{ STATIC_URL }}blog/js/boxlayout.js"></script>
<script>
	$(function() {
		Boxlayout.init();
	});
</script>
</body>
</html>
